.hero {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами по горизонтали, выставляя первый элемент в начало, а последний — в конец*/
    align-items: center;
    padding: 50px;
    background-color: #f7f7f7;
    color: #333;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px; /* отступ снизу */
}

.hero h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #007BFF; 
}

.hero p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.button {
    display: inline-block; /* Позволяет добавлять отступы */
    padding: 15px 30px;
    background-color: #007BFF; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Добавляет плавный эффект для изменения фона */
}

.button:hover {
    background-color: #0056b3; /* Изменяется цвет кнопки при наведении курсора */
}

.hero-image img {
    max-width: 450px;
    border-radius: 5px; 
}

.contact {
    padding: 50px;
    background-image: url('https://i.pinimg.com/originals/ea/6a/13/ea6a13385a5ece47af07a15d9829ed59.jpg'); /* Укажите путь к вашей фотографии */
    background-size: cover; /* Масштабирует изображение, чтобы оно полностью покрывало фон */
    background-position: center; /* Центрирует изображение */
    color: white;
    opacity: 0.9;
   
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2em;
    margin-bottom: 10px;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*задаёт способ вычисления размеров элемента, включая отступы и границы в общую ширину и высоту*/
}

.achievements-section {
    background-color: #f0f0f0;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 2vh;
    color: white;
    background-color: #007BFF;
    background-size: cover;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    
}

.achievements-container {
    display: flex;
    flex-wrap: wrap; /*позволяет элементам переноситься на новую строку при необходимости*/
    justify-content: center;
    gap: 2vw; /*устанавливает промежуток между элементами в 2% ширины окна просмотра*/
}

.achievement-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*добавляет тень*/
    padding: 2vh 7vw;
    flex: 0 1 calc(25% - 2vw);
    max-width: calc(25% - 2vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s; /*добавляет плавный эффект при изменении*/
    text-align: center;
}

.achievement-card:hover {
    transform: translateY(-5px); /*перемещает карточку вверх на 5 пикселей при наведении*/
}

.achievement-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1vh;
    border-radius: 50%;
}

.achievement-title {
    font-size: 1.5em;
    margin: 1vh 0;
    color: #444;
}

.achievement-description {
    font-size: 1em;
    color: #666;
}

.achievement-button {
    margin-top: 2vh;
    padding: 0.5vh 1vw;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /*меняет курсор на указатель при наведении*/
    transition: background-color 0.3s;
}

.achievement-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .achievement-card {
        flex: 0 1 100%;
        max-width: 100%;
    }
}
